.wood_die {
    background-color: #9e744f;
}
.stone_die {
    background-color: #9e9f9e;
}
.gold_die {
    background-color: #fff101;
}
.land_die {
    background-color: #009949;
}
.iron_die {
    background-color: #d8232a;
}

.wood {
    background-image: url("/media/die%20faces/Wood.png");
}
.woodx2 {
    background-image: url("/media/die%20faces/Woodx2.png");
}
.woodx3 {
    background-image: url("/media/die%20faces/Woodx3.png");
}

.stone{
    background-image: url("/media/die%20faces/Stone.png");
}
.stonex2{
    background-image: url("/media/die%20faces/Stonex2.png");
}

.gold{
    background-image: url("/media/die%20faces/Gold.png");
}
.goldx2{
    background-image: url("/media/die%20faces/Goldx2.png");
}

.land{
    background-image: url("/media/die%20faces/Land.png");
}
.landx2{
    background-image: url("/media/die%20faces/Landx2.png");
}

.iron{
    background-image: url("/media/die%20faces/Iron.png");
}
.ironx2{
    background-image: url("/media/die%20faces/Ironx2.png");
}

.barbarian{
    background-image: url("/media/die%20faces/Barbarian.png");
}

.cow{
    background-image: url("/media/die%20faces/Cow.png");
}
.chicken{
    background-image: url("/media/die%20faces/Chicken.png");
}
.horse{
    background-image: url("/media/die%20faces/Horse.png");
}
.pig{
    background-image: url("/media/die%20faces/Pig.png");
}