.die_wood, .wood, .wood_*, img[class*='wood'] {
    background-color: #9e744f;
}
.die_stone, .stone, .stone_*, img[class*='stone'] {
    background-color: #9e9f9e;
}
.die_gold, .gold, .gold_*, img[class*='gold'] {
    background-color: #fff101;
}
.die_land, .land, .land_*, img[class*='land'] {
    background-color: #009949;
}
.die_iron, .iron, .iron_*, img[class*='iron'] {
    background-color: #d8232a;
}

.die, img[class*="die_"]{
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    background-size: 50px;
    border-radius: 5px;
}

.mid { vertical-align: middle; margin:2px;}

.wood, .woodx1, .wood_wood_1 {
    background-image: url("/static/images/die_faces/Wood.png");
}
.woodx2, .wood_wood_2 {
    background-image: url("/static/images/die_faces/Woodx2.png");
}
.woodx3, .wood_wood_3 {
    background-image: url("/static/images/die_faces/Woodx3.png");
}

.stone, .stonex1, .stone_stone_1{
    background-image: url("/static/images/die_faces/Stone.png");
}
.stonex2 .stone_stone_2{
    background-image: url("/static/images/die_faces/Stonex2.png");
}

.gold, .goldx1, .gold_gold_1{
    background-image: url("/static/images/die_faces/Gold.png");
}
.goldx2, .gold_gold_2{
    background-image: url("/static/images/die_faces/Goldx2.png");
}

.land, .landx1, .land_land_1{
    background-image: url("/static/images/die_faces/Land.png");
}
.landx2, .land_land_2{
    background-image: url("/static/images/die_faces/Landx2.png");
}

.iron, .ironx1, .iron_iron_1{
    background-image: url("/static/images/die_faces/Iron.png");
}
.ironx2, .iron_iron_2{
    background-image: url("/static/images/die_faces/Ironx2.png");
}

.barbarian, .barbarianx1, *[class*='barbarian']{
    background-image: url("/static/images/die_faces/Barbarian.png");
}

.cow, .cowx1, *[class*='cow']{
    background-image: url("/static/images/die_faces/Cow.png");
}
.chicken, .chickenx1, *[class*='chicken']{
    background-image: url("/static/images/die_faces/Chicken.png");
}
.horse, .horsex1, *[class*='horse']{
    background-image: url("/static/images/die_faces/Horse.png");
}
.pig, .pigx1, *[class*='pig']{
    background-image: url("/static/images/die_faces/Pig.png");
}