label[for*='id_dice_pool'], label[for*='id_choice_die'] {
    width: 50px;
    height: 50px;
    padding: 5px;
    white-space: nowrap;
}
label[for*='id_dice_pool'] > input[type='radio'],
label[for*='id_choice_die'] > input[type='radio'] {
    display: none;
}
label[for*='id_dice_pool'] > input[type='radio']:checked + img,
label[for*='id_choice_die'] > input[type='radio']:checked + img {
    border:3px solid blue;
}
.wood, *[class*='wood'] {
    background-color: #9e744f;
}
.stone, *[class*='stone'] {
    background-color: #9e9f9e;
}
.gold, *[class*='gold'] {
    background-color: #fff101;
}
.land, *[class*='land'] {
    background-color: #009949;
}
.iron, *[class*='iron'] {
    background-color: #d8232a;
}

.die, img[class*="die_"]{
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    background-size: 50px;
    border-radius: 5px;
}

.mid { vertical-align: middle; margin:2px;}

.wood, .woodx1, .wood_wood_1 {
    background-image: url("/static/images/die_faces/Wood.png");
}
.woodx2, .wood_wood_2 {
    background-image: url("/static/images/die_faces/Woodx2.png");
}
.woodx3, .wood_wood_3 {
    background-image: url("/static/images/die_faces/Woodx3.png");
}

.stone, .stone_1{
    background-image: url("/static/images/die_faces/Stone.png");
}
.stone_2{
    background-image: url("/static/images/die_faces/Stonex2.png");
}

.gold, .gold_1{
    background-image: url("/static/images/die_faces/Gold.png");
}
.gold_2{
    background-image: url("/static/images/die_faces/Goldx2.png");
}

.land, .land_1{
    background-image: url("/static/images/die_faces/Land.png");
}
.land_2{
    background-image: url("/static/images/die_faces/Landx2.png");
}

.iron, .iron_1{
    background-image: url("/static/images/die_faces/Iron.png");
}
.iron_2{
    background-image: url("/static/images/die_faces/Ironx2.png");
}

.barbarian, .barbarian_1, *[class*='barbarian']{
    background-image: url("/static/images/die_faces/Barbarian.png");
}

.cow, .cow_1, *[class*='cow']{
    background-image: url("/static/images/die_faces/Cow.png");
}
.chicken, .chicken_1, *[class*='chicken']{
    background-image: url("/static/images/die_faces/Chicken.png");
}
.horse, .horse_1, *[class*='horse']{
    background-image: url("/static/images/die_faces/Horse.png");
}
.pig, .pig_1, *[class*='pig']{
    background-image: url("/static/images/die_faces/Pig.png");
}