{% extends "base.html" %}

{% block body %}

    <p>Player rolled: &nbsp;
    {% for d_name, list in rolled_dice.items %}
        {% for name, value in list %}
            &nbsp;<img class ="{{  d_name }}_die {{ name }}x{{ value }} mid">&nbsp;
        {%  endfor %}
    {% endfor %}
    </p>

    {% if nxt_turn < 8 %}
        <p>
            <a href="{% url 'choosedice' turn_no=nxt_turn game_id=game_id %}">
                Choose Dice for Turn {{ nxt_turn }}
            </a>
        </p>
    {% endif %}
{%  endblock %}
