{% extends "base.html" %}

{% block content %}

    <p>Player rolled: &nbsp;
    {% for d_name, list in rolled_dice.items %}
        {% for name, value in list %}
            &nbsp;<img class ="die {{  d_name }} {{ name }}_{{ value }} mid">&nbsp;
        {%  endfor %}
    {% endfor %}
    </p>

{#    {% if nxt_turn < 8 %}#}
        <p>
            <a href="{% url 'gatherdice' game_id=game_id %}">
                Gather Dice from World Pool {{ cur_turn }}
            </a>
        </p>
{#    {% endif %}#}
{%  endblock %}
