{% extends "base.html" %}

{% block body %}

    <p>Player rolled: &nbsp;
    {% for d_name, pair in rolled_dice%}
        &nbsp;<img class ="{{  d_name }}_die {{ pair.0 }}x{{ pair.1 }} mid">&nbsp;
    {% endfor %}
    </p>
    <br><br>
    <p>Total Resources Rolled:&nbsp;
    {% for d_name, count in totals.items %}
            &nbsp;<img class="{{ d_name }} mid">x{{ count }}&nbsp;
    {% endfor %}
    </p>
    {% if nxt_turn < 8 %}
        <p>
            <a href="{% url 'choosedice' turn_no=nxt_turn %}">
                Choose Dice for Turn {{ nxt_turn }}
            </a>
        </p>
    {% endif %}
{%  endblock %}
