{% extends "base.html" %}

{% block body %}


<form action="{% url 'rolldice' %}" method="post">
{% csrf_token %}
{{ form.Dice.label_tag }}<br>
{#{{ form.Dice }}<br><br>#}

{%  for choice_id, choice in form.Dice.field.choices %}
    <p style="margin-bottom: 10px">
        <input id="id_Dice_{{ forloop.counter }}" name="Dice" type="checkbox" value="{{ choice_id }}">
        <img class="{{ choice }} mid"> {{ choice|capfirst }}
    </p>
{% endfor %}

{{ form.Dice.errors }}
{{ form.non_field_errors }}
<input type="submit" value="Roll" >
</form>


{%  endblock %}