{% extends "base.html" %}

{% block body %}


<form action="{% url 'choosedice' %}" method="post">
{% csrf_token %}
{{ form.given_dice.label_tag }}:
{%  for given_id, given in form.given_dice.field.choices %}
    <label for="id_given_dice_{{ forloop.counter }}">
        <input id="id_given_dice_{{ forloop.counter }}" name="Dice" type="hidden" value="{{ given_id }}">
        <img class="{{ given }} mid"> {{ given|capfirst }}
    </label>{% if not forloop.last %}, {% endif %}&nbsp;
{% endfor %}<br>
{#{%  for field in form.given_dice %}#}
{#    <p>{{ field }}</p>#}
{#{% endfor %}#}
{{ form.choice_dice.label_tag }}<br>
{#{{ form.Dice }}<br><br>#}

{%  for choice_id, choice in form.choice_dice.field.choices %}
    <label for="id_Dice_{{ forloop.counter }}">
        <input id="id_Dice_{{ forloop.counter }}" name="Dice" type="checkbox" value="{{ choice_id }}">
        <img class="{{ choice }} mid"> {{ choice|capfirst }}
    </label><br>
{% endfor %}

{{ form.choice_dice.errors }}
{{ form.non_field_errors }}
<input type="submit" value="Roll" >

{% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}

</form>


{%  endblock %}