{% extends "base.html" %}

{% block body %}


<form action="{% url 'choosedice' %}" method="post">
{% csrf_token %}
{{ form.given_dice.label_tag }}:
{%  for given_id, given in form.given_dice.field.choices %}
    <label for="id_given_dice_{{ forloop.counter }}">
        <input {# style="display:none"#} id="id_given_dice_{{ forloop.counter }}" name="given_dice" type="checkbox" value="{{ given_id }}" checked="checked">
        <img class="{{ given }} mid"> {{ given|capfirst }}
    </label>
    {% if not forloop.last %}, {% endif %}&nbsp;
{% endfor %}<br>
{{ form.given_dice.errors }}<br>
{{ form.choice_dice.label_tag }}<br>

{%  for choice_id, choice in form.choice_dice.field.choices %}
    <label for="id_choice_dice_{{ forloop.counter }}">
        <input id="id_choice_dice_{{ forloop.counter }}" name="choice_dice" type="checkbox" value="{{ choice_id }}">
        <img class="{{ choice }} mid"> {{ choice|capfirst }}
    </label><br>
{% endfor %}

{{ form.choice_dice.errors }}
{{ form.non_field_errors }}
<input type="submit" value="Roll" >

</form>


{%  endblock %}