{% extends "base.html" %}

{% block content %}


    <form action="{% url 'gather_dice' game_id=game_id %}" method="post">
        {% csrf_token %}
        <p><b>For Turn #{{ turn_no }}</b></p>
        <table>
            {%  for field in form %}
            <tr>

                <td style="width:{% if forloop.counter == 1 %}112px{% else %}140px{% endif %}">
                    {{ field.label_tag }}<br><br></td>
                <td style="width:800px"> {{ field }}</td>
                <td style="width:200px; text-align: center">{{ field.errors }}<br><input type="submit" value="Gather" ></td>
            </tr>
            {% endfor %}
            </table>
    </form>


{%  endblock %}