{% extends "base.html" %}

{% block body %}


    {% for d_name, pair in rolled_dice.items %}
        <p style="margin-bottom: 10px">
            {{ d_name|capfirst }} Die rolled
            <img class ="{{  d_name }}_die {{ pair.0 }}x{{ pair.1 }} mid">
        </p>
    {% endfor %}
    <br><br>
    <p>Total Resources Rolled:</p>
    {% for d_name, count in totals.items %}
        <p style="margin-bottom: 10px;">
{#            {{ d_name|capfirst }}#}
            <img class="{{ d_name }} mid"> {{ count }}
        </p>
    {% endfor %}
{%  endblock %}